
<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <h2 class="mt-5">ブックズ</h2>
      <table class="table">
        <thead>
          <tr>
            <th>タイトル</th>
            <th>オピニオン</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
          <tr>
            <td><%= book.title %></td>
            <td><%= book.body %></td>
            <td><%= link_to "Show",book_path(book.id),{class: "btn btn-outline-secondary px-2 mx-auto"} %>
            <%= link_to "Edit",edit_book_path(book.id),{class: "btn btn-outline-danger px-2 mx-auto"} %>
            <%= link_to "Destroy",book_path(book.id),method: :delete,data: {confirm: "OK?"} , class: "btn btn-outline-warning px-2 mx-auto" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <div class="create-book">
        <% if @book.errors.any? %>
        <div class="error-content">
          <p class="error-text"><span><%= @book.errors.count %>errors prohibited this book from being saved:</span></p>
          <div class="errors-box">
            <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
          <h3 class="mt-5">クリエイト</h3>
          <%= form_with model: @book,url: (books_path),method: :post do |f| %>
            <h5 class="is-invalid">タイトル</h5>
            <%= f.text_field :title ,{class: "invalid"}%>
            <h5 class="is-invalid">オピニオン</h5>
            <%= f.text_field :body ,{class: "invalid"}%>
            <p class="mt-3">
              <%= f.submit "Create Book" ,{class: "btn btn-outline-success"}%>
            </p>
          <% end %>
        </div>
        <% else %>

          <h3 class="mt-5">クリエイト</h3>
          <%= form_with model: @book,url: (books_path),method: :post do |f| %>
            <h5>タイトル</h5>
            <%= f.text_field :title %>
            <h5>オピニオン</h5>
            <%= f.text_field :body %>
            <p class="mt-3">
              <%= f.submit "Create Book" ,{class: "btn btn-outline-success"}%>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>